@use '@styles/mixins' as *;

.FilterPanel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0 clamp(1rem, 6vw, 6.25rem);
  margin-top: 3.125rem;

  @include respond(md) {
    padding: 0 1rem;
  }
}

.search {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
}

.input {
  width: 100%;
}

.text {
  display: flex;
  margin-top: 3rem;
  align-items: center;

  @include respond(md) {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

.totalProducts {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2rem;
  line-height: 113%;
  color: var(--text-primary);

  @include respond(md) {
    font-size: 1.5rem;
  }
}

.total {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  margin-left: 1.5rem;
}

.button {
  white-space: nowrap;
}

.dropdown {
  max-width: 18.75rem;
}