@use '@styles/mixins' as *;

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(1rem, 6vw, 5rem);
  width: 100%;
  padding: 2rem clamp(1rem, 6vw, 6.25rem);
  margin-top: 2rem;

  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(sm) {
    grid-template-columns: 1fr;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
}