.card {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  background-color: var(--bg-surface);
  border: 0px;
  overflow: hidden;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--bg-surface);
  transform: translateY(-3px);
}

.card__img {
  display: block;
  background-color: #D9D9D9;
  height: 100%;
  width: 100%;
}

.card__text {
  padding: var(--space-xl) var(--space-xs) var(--space-xl);
  font-family: var(--font-family);
  background-color: var(--bg-surface);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card__caption {
  margin-bottom: var(--space-xxs);
}

.card__title {
  margin-bottom: var(--space-xxs);
}

.card__content-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xxs);
  padding: var(--space-l) 0px 0px;
  background-color: var(--bg-surface);
  white-space: nowrap;
  margin-top: auto;
}